name: Update File

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup Lisp
      uses: 40ants/setup-lisp@v2
      with:
        asdf-system: cl-info

    - name: Run Script
      run: ros run -l main.lisp -e "(main)" -q
 
    - name: test
      run: touch test.txt 
 
    - name: Update Repo
      uses: stefanzweifel/git-auto-commit-action@v4
